.create-center{
    padding: @padding-general;
    background-color: @bgColor;
    min-height: 75vh;
    margin: @margin-general 0;
    border-radius: @border-radius;
    .shadow();
    .border-normal();
    .font-normal();
    display: flex;
    flex-direction: column;
    .upinfo{
        .title{
            font-size: @big-text;
        }
    }
}