.article-enter-to,
.article-leave-from{
  transform: translateX(0);
  opacity: 1;
}
.article-leave-active{
  position: absolute;
   transition: all 0.8s ease-in-out;
}
.article-move{
  transition: all 0.8s ease;
}
.article-enter-from,
.article-leave-to{
  transform: translateX(-100%);
  opacity: 0;
}
.article-item-sub{
  transition: all 0.6s ease;
}
@media screen and (min-width:320px){
    .artilce-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 6.6rem;
        .top {
          width: 100%;
          padding: 1.4286rem;
          border-radius: 2rem;
          margin-top: .3571rem;
          border: 3px black solid;
          background-color: rgb(@primaryBackGroundColor);
          box-shadow: 5px 5px 0 rgb(255, 0, 43);
          .top-bar{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .search{
              width: 100%;
            }
          }
          .title {
            font-family: 'urafont','幼圆';
            margin: 1.4286rem ;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            i{
              font-size: 4.5rem;
              color: rgb(255, 37, 139);
            }
            p{
              font-size: 2.5rem;
            }
            span{
              font-size: 1.3rem;
              margin-left: 0.4rem;
            }
          }
          .main {
            width: 100%;
            transition: all 0.4s ease;
            .article-item-sub{
              margin: 2.5rem 0 !important;
            }
          }
          .tip{
            font-family: 'Thinfont','幼圆';
            font-weight: 600;
          }
        }
        .page {
          font-family:'Thinfont', '幼圆';
          font-weight: 600;
          font-size: 16px;
          padding: 5px;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
          .border-pinkline(1rem,0px);
          background-color: #fff;
          box-shadow: 4px 4px 0px rgb(255, 19, 78);
        }
    }
}
@media screen and (min-width:640px) {
  .top-bar{
    flex-direction: row !important;
    .search{
      width: 70%;
    }
  }
}
@media screen and (min-width:992px) {
    .artilce-list {
        width: 80%;
        margin: 0 auto;
        .top {
          padding: 1rem;
          border-radius: 2rem;
          margin-top: 1rem;
          .top-bar{
            .search{
              width: 35%;
            }
          }
          .tip{
            line-height: 2rem;
            padding: 1rem;
            margin-left: .5rem;
          }
        }
    }
}
