@media screen and (min-width:320px){
    .message {
        margin-top: 7rem;
        padding: 2.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        transition: all 1s ease;
        border-radius: 2.5rem;
        border: 3px black solid;
        background-color: rgb(@primaryBackGroundColor);
        .up-info {
          .logo{
            display: flex;
            align-items: center;
          }
          .title {
            .font-ura();
            font-size: 2.5rem;
          }
          .desc {
            .font-normal();
            font-size: 1.5rem;
          }
        }
        .edit-part {
          margin-top: 1.5rem;
          width: 100%;
          .font-normal();
          .liuyan-info {
            display: flex;
            flex-direction: column;
            .name {
              .flexbox(row);
              padding: 5px;
              margin-right: 0;
              margin-bottom: 1.5rem;
              span {
                display: flex;
                flex-shrink: 0;
                font-size: 16px;
                width: 120px;
              }
            }
          }
          .main-content {
            display: flex;
            width: 100%;
            .msg-avatar{
              width: 100px;
              height: 100px;
              flex-shrink: 0;
            }
            .edit-area {
              width: 100%;
              margin-left: 2.5rem;
            }
          }
          .button {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;
          }
        }
        .paixu {
          .font-normal();
          margin-top: 1.5rem;
          display: flex;
          align-items: center;
          h2 {
            margin: 0;
          }
          p {
            align-self: flex-end;
            margin-left: .7143rem;
            cursor: pointer;
            font-weight: 600;
          }
          .active {
            color: rgb(@primaryActiveColor);
          }
        }
        .pagination{
          margin-top: 2.5rem;
        }
    }
}

@media screen and (min-width:992px){
    .message {
        margin-top: 1.4286rem;
        .edit-part {
          .liuyan-info {
            flex-direction: row;
            .name {
              margin-right: 1rem;
              margin-bottom: 0;
              .contact {
                min-width: 25rem;
              }
            }
          }
        }
    }
}