// 定义所有变量 
@primaryBackGroundColor: var(--primaryBackGroundColor, rgb(255, 253, 253));
@primaryTextColor: var(--primaryTextColor, rgb(8, 8, 8));
@primaryTipColor: var(--primaryTipColor, rgb(54, 0, 0));
@primaryTagTextColor: var(--primaryTagTextColor, rgb(255, 255, 255));
@primarySubColor: var(--primarySubColor, rgb(87, 87, 87));
@primaryTagBackGroundColor: var(--primaryTagBackGroundColor, rgb(4, 126, 0));
@primaryActiveColor: var(--primaryActiveColor, rgb(250, 102, 43));
@primaryActiveTextColor: var(--primaryActiveTextColor, rgb(250, 102, 43));
@primaryHightlightColor: var(--primaryHightlightColor, rgb(250, 102, 43));
@primaryLinkColor: var(--primaryLinkColor, rgb(250, 102, 43));
@primaryHoverColor: var(--primaryHoverColor, rgb(250, 102, 43));

@bgColor: var(--bgColor, rgb(255, 255, 255));
@globlBgColor: var(--globlBgColor, rgb(236, 236, 236));
@textColor: var(--textColor, rgb(0, 0, 0));
@tipTextColor: var(--tipTextCol, rgb(160, 160, 160));
@bgTextColor: var(--bgTextColor, rgb(255, 255, 255));
@hoverColor: var(--hoverColor, rgb(250, 14, 73));
@hoverTextColor: var(--hoverTextColor, rgb(255, 255, 255));
@linkColor: var(--linkColor, rgb(14, 136, 250));
@activeColor: var(--activeColor, rgb(250, 14, 73));
@themeColor: var(--themeColor, rgb(250, 14, 73));
@shadowColor: var(--shadowColor, rgba(0, 0, 0, 0.3));

:root {
  --bgColor:@bgColor;
  --textColor:@textColor;
  --globlBgColor:@globlBgColor;
  --tipTextColor:@tipTextColor;
  --bgTextColor:@bgTextColor;
  --hoverColor:@hoverColor;
  --hoverTextColor:@hoverTextColor;
  --linkColor:@linkColor;
  --activeColor:@activeColor;
  --shadowColor:@shadowColor;
}