@mobile-device: 320px;
@pad-device: 768px;
@smallpc-device: 992px;
@normal-device: 1440px;
@margin-general: var(--margin-general, 1rem);
@very-big-text: var(--very-big-text, 2rem);
@big-text: var(--big-text, 1.5rem);
@mid-text: var(--mid-text, 1.3rem);
@small-text: var(--small-text, 1rem);
@very-samll-text: var(--very-samll-text, 0.8rem);
@padding-general: var(--padding-general, 1rem);
@border-radius: var(--border-radius, 1rem);
@border-line: var(--border-line, 0.2rem);
@top-nav-bar-height: var(--top-nav-bar-height, 6.6rem);
@font-family: var(--font-family, 'chinesefont');
@backGroundImgBlur: var(--backGroundImgBlur, 0rem);
@backGroundImgLight: var(--backGroundImgLight, 100%);
@backGroundImgSize: var(--backGroundImgSize, contain);
@backGroundImgRepeat: var(--backGroundImgRepeat, repeat);
@backgroundImgAttachment: var(--backgroundImgAttachment, scroll);

:root {
    --margin-general: @margin-general;
    --very-big-text: @very-big-text;
    --big-text: @big-text;
    --mid-text: @mid-text;
    --small-text: @small-text;
    --very-samll-text: @very-samll-text;
    --padding-general: @padding-general;
    --border-radius: @border-radius;
    --border-line: @border-line;
    --backGroundImgLight: @backGroundImgLight;
    --backGroundImgBlur: @backGroundImgBlur;
    --backGroundImgSize: @backGroundImgSize;
    --backGroundImgRepeat: @backGroundImgRepeat;
    --backgroundImgAttachment: @backgroundImgAttachment;
    --font-family: @font-family;
}