@font-face {
  font-family: "iconfont"; /* Project id 3179923 */
  src: url('//at.alicdn.com/t/font_3179923_csa453hijo4.woff2?t=1644940845492') format('woff2'),
       url('//at.alicdn.com/t/font_3179923_csa453hijo4.woff?t=1644940845492') format('woff'),
       url('//at.alicdn.com/t/font_3179923_csa453hijo4.ttf?t=1644940845492') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e647";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-system-QRcode:before {
  content: "\e667";
}

.icon-close_circle:before {
  content: "\e66e";
}

.icon-selected:before {
  content: "\e66f";
}

.icon-warn:before {
  content: "\e670";
}

.icon-left:before {
  content: "\e681";
}

.icon-right:before {
  content: "\e682";
}

.icon-right1:before {
  content: "\e683";
}

.icon-left1:before {
  content: "\e684";
}

.icon-under:before {
  content: "\e685";
}

.icon-up:before {
  content: "\e686";
}

.icon-delete:before {
  content: "\e687";
}

.icon-Selected:before {
  content: "\e688";
}

.icon-add:before {
  content: "\e689";
}

.icon-more:before {
  content: "\e68a";
}

.icon-chat_add:before {
  content: "\e69b";
}

.icon-chat_wrong:before {
  content: "\e69c";
}

.icon-classification:before {
  content: "\e69f";
}

.icon-edit:before {
  content: "\e6aa";
}

.icon-good:before {
  content: "\e6bb";
}

.icon-mail:before {
  content: "\e6c8";
}

.icon-live:before {
  content: "\e6d0";
}

.icon-jiantou:before {
  content: "\e622";
}

.icon-Ae:before {
  content: "\e7bd";
}

.icon-cd:before {
  content: "\e653";
}

.icon-javascript:before {
  content: "\e636";
}

.icon-springboot:before {
  content: "\e60b";
}

.icon-java:before {
  content: "\e6e0";
}

.icon-shengrix:before {
  content: "\e62e";
}

.icon-vue:before {
  content: "\e69a";
}

.icon-bumenshouye:before {
  content: "\e610";
}

.icon-changyonggongneng:before {
  content: "\e611";
}

.icon-peizhikanban:before {
  content: "\e612";
}

.icon-kaifaguanli:before {
  content: "\e613";
}

.icon-liuchengguanli:before {
  content: "\e614";
}

.icon-xiaoxizhongxin:before {
  content: "\e615";
}

.icon-github:before {
  content: "\e709";
}

.icon-qq:before {
  content: "\e609";
}

.icon-weixin:before {
  content: "\e856";
}

.icon-bilibili-line:before {
  content: "\e69e";
}
