@import url(@/assets/styles/global/color.less);
@import url(@/assets/styles/global/variable.less);
@import url(@/assets/styles/global/font.less);
@import url(@/assets/styles/global/reset.less);
@import url(@/assets/styles/global/public-class.less);
@import url(@/assets/styles/global/eldeep.less);
@import url(@/assets/styles/global/func.less);
// 动画
@keyframes leftmove-loop {

  0%,
  100% {
    transform: translateX(0px) translateY(-50%);
  }

  50% {
    transform: translateX(-15px) translateY(-50%);
  }
}

@keyframes rightmove-loop {

  0%,
  100% {
    transform: translateX(0px) translateY(-50%);
  }

  50% {
    transform: translateX(15px) translateY(-50%);
  }
}
